.doctor_editing {
    background-color: white;
    border-radius: 15px;

    padding: 15px 20px;

    -webkit-box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.08);
    -moz-box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.08);
    box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.08);
}

/* HEADER */

.doctor_editing_header {
    display: flex;
    align-items: center;
}

.doctor_editing_header_title {
    font-size: 24px;
    font-weight: 700;
}

/* INTERMEDIATE */

.doctor_editing_intermediate {
    padding: 30px 0 0 0;
}


/* CONTENT */
.doctor_editing_content {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    padding: 20px 0 0 0;
}
