.receiving_appeal {
    background-color: white;
    border-radius: 15px;

    padding: 20px 20px;

    -webkit-box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.08);
    -moz-box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.08);
    box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.08);
}

/* HEADER */
.receiving_appeal_header {
    display: flex;
    align-items: center;
}

.receiving_appeal_header_title {
    font-size: 24px;
    font-weight: 700;
}



/* CONTENT */
.receiving_appeal_content {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    padding: 40px 0 0 0;
}

.receiving_appeal_content_form {
    width: 1100px;
}
.reveiving_appeal_content_form_element {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.receiving_appeal_content_form_element_name {
    width: 40%;
    font-size: 16px;
    font-weight: 600;
}
.receiving_appeal_content_form_element_select {
    width: 60%;
    margin: 10px 0;
    font-size: 16px;
}
.receiving_appeal_content_form_element_input {
    width: 60%;

    outline: none;

    padding: 5px 10px;
    margin: 10px 0;

    font-size: 16px;

    border-radius: 4px;
    border: 1px solid hsl(0, 0%, 80%);
}
.receiving_appeal_content_form_element_picker {
    width: 100%;

    outline: none;

    padding: 5px 10px;
    margin: 10px 0;

    font-size: 16px;

    border-radius: 4px;
    border: 1px solid hsl(0, 0%, 80%);
}
.receiving_appeal_content_form_element_input:focus {
    border: 2px solid #3498db;

    padding: 4px 9px;
}


.reveiving_appeal_content_form_submit {
    width: 100%;
    margin-top: 20px;

    background-color: #298ACE;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;

    font-size: 16px;
    font-weight: 700;

    padding: 5px 0;

    border-radius: 10px;
}
.reveiving_appeal_content_form_submit:hover {
    background-color: #267BB7;

    transition: .5s;
}