.service_editing_item_detail {
    width: 100%;

    padding: 20px;
}

.service_editing_item_detail_input {
    width: 100%;

    display: flex;

    margin-top: 12px;
    
}

.service_editing_item_detail_input_name {
    width: 40%;

    display: flex;
    justify-content: space-between;

    padding-right: 12px;
}

.service_editing_item_detail_input_input {
    width: 100%;

    padding: 10px;

    outline: none;

    border-radius: 8px;

    border: 1px solid #C1C1C1;
}

.service_editing_item_detail_input_popover {
    position: absolute;
    top: -130px;
    left: 30px;

    padding: 10px 15px;

    border-radius: 10px;
    width: 300px;

    display: flex;
    flex-direction: column;

    background: white;
    -webkit-box-shadow: 0px -1px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px -1px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px -1px 10px 2px rgba(34, 60, 80, 0.2);
}
.service_editing_item_detail_input_popover_start:hover {
    color: white;
    background-color: gray;
}

.service_editing_item_detail_input_popover_start {
    border: 1px solid gray;

    color: gray;

    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

/* SAVE ALL */

.service_editing_item_detail_input_save {
    width: 100%;

    border: none;
    background: #05a55a;
    outline: none;
    cursor: pointer;

    border-radius: 8px;

    padding: 5px 0;
    margin-top: 22px;

    color: white;
    font-size: 16px;
    font-weight: 700;
}
.service_editing_item_detail_input_save:hover {
    transition: .5s;

    background-color: #08894D;
}