.p_main {
    height: auto;

    position: relative;

    display: flex;
}

.p_main_services {
    width: 100%;
    height: auto;
    margin: 25px;
}

.p_main_content {
    padding: 40px 10px 10px 10px;

    position: relative;
}

.p_main_multi_recording_wrapper {
    height: auto;

    display: flex;
    flex-direction: column;

    padding: 10px;


    background: white;
}

.p_main_multi_recording {

    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER */
.p_main_multi_recording_header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.p_main_multi_recording_header_title {
    margin-top: 10px;
}

/* CONTENT */
.p_main_multi_recording_content {
    width: 100%;
    border-top: 1.5px solid gray;
    border-bottom: 1.5px solid gray;

    margin: 14px 0 10px 0;
    padding: 10px 0;
}

.p_main_multi_recording_content_btn {
    width: 100%;

    background: none;

    padding: 5px;

    font-size: 14px;

    border-radius: 3px;

    outline: none;

    cursor: pointer;

    border: 1px solid hsl(0, 0%, 80%);
}

.p_main_multi_recording_content_btn:not(:first-child) {
    margin-top: 10px;
}

/* FOOTER */

.p_main_multi_recording_footer {
    margin-top: 10px;

    width: 100%;

    display: flex;
    flex-direction: column;
}

.p_main_multi_recording_footer_element {
    background-color: #edfaed;
    width: 100%;
    padding: 5px 10px;

    border-radius: 5px;

    border: 1px solid hsl(0, 0%, 80%);
    display: flex;
    flex-direction: column;

    font-size: 14px;
}

.p_main_multi_recording_footer_element:not(:first-child) {
    margin-top: 10px;
}

.p_main_multi_recording_footer_element_price {
    font-size: 12px;
    color: #7ba124;
    font-weight: 800;

    margin-top: 7px;
}

.p_main_multi_recording_footer_element_footer {
    margin-top: 3px;

    font-size: 12px;
    color: #7ba124;
    font-weight: 800;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p_main_multi_recording_footer_element_footer_remove {
    background: none;
    outline: none;
    cursor: pointer;
    border: none;

    font-size: 16px;
    color: #7ba124;
    font-weight: 800;
}

.p_main_content_btn_multi_records {
    background: #f0f0f0;
    cursor: pointer;
    padding: 8px 12px;

    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 85%);
    outline: none;

    font-size: 16px;
    font-weight: 600;

    -webkit-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
}

.p_main_content_btn_multi_records:hover {
    background: #3c8dbc;
    color: white;

    transition: .3s;
}